{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h1>📚 Кітапхана</h1>
    
    <h2>5-сынып кітаптары ({{ books_grade_5|length }})</h2>
    {% for book in books_grade_5 %}
    <div class="menu-card">
        <h3>{{ book.title }}</h3>
        <p>Авторы: {{ book.author }}</p>
        <p>{{ book.description }}</p>
    </div>
    {% empty %}
    <p style="color: red;">5-сынып кітаптары жоқ!</p>
    {% endfor %}
    
    <h2>6-сынып кітаптары ({{ books_grade_6|length }})</h2>
    {% for book in books_grade_6 %}
    <div class="menu-card">
        <h3>{{ book.title }}</h3>
        <p>Авторы: {{ book.author }}</p>
        <p>{{ book.description }}</p>
    </div>
    {% empty %}
    <p style="color: red;">6-сынып кітаптары жоқ!</p>
    {% endfor %}
</div>
{% endblock %}